@keyframes showNotify {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
#default-notify {
    position: fixed;
    top: 0.57rem;
    right: 0.68rem;
    visibility: hidden;
}
#anim-notify {
    position: fixed;
    top: 0.57rem;
    right: 0.68rem;
    visibility: visible;
    animation-name: showNotify;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
